@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Superhero Fan!</h1>
    <img src="/css/img/spideee-xlarge.jpg" class="img-fluid" alt="Spider-Man" />

</div>

